{% extends "portfolio/base.html" %}

{% block article %}
<div class="left-panel">
    <dev class="profile-images">
        <img class="face_photo" src="{% if profile.face_photo %}{{profile.face_photo.url}}{% endif %}" alt="Face Photo" onerror="this.src='{{NO_IMAGE}}';" />
        <!-- <div class="sub_photo">
            <img src="{% if profile.sub_photo %}{{profile.sub_photo.url}}{% endif %}" alt="Sub Photo" onerror="this.src='{{NO_IMAGE}}';" />
        </div> -->
    </dev>
    <dev class="acknowledgment">
        {% for item in acknowledgment%}
            <p>{{item.comments}}</p>
        {% endfor %}
    </dev>
</div>
<div class="right-panel">
    <dev class="profile">
        <div class="title">{{profile.title}}</div>
        <div class="subtitle">{{profile.subtitle}}</div>
        <div class="name">{{profile.last_name}}/{{profile.first_name}}</div>
        <div class="job">{{profile.job}}</div>
        <div class="introduction">{{profile.introduction}}</div>
        <div class="face_photo">
    </dev>
    <div class="sns-panel">
        {% for item in profile.sns%}
            <a class="sns" href="{{item.url}}">
                <img src="{% if item.icon_master.icon %}{{item.icon_master.icon.url}}{% endif %}" alt="{{item.name}}" onerror="this.src='{{NO_IMAGE}}';" />
            </a>
        {% endfor %}
    </div>
</div>
{% endblock article %}
