{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">

<p>{{profile.title}}</p>

<p>Works</p>
{% if works %}
    <table>
        <tr>
        <th>タイトル</th>
        <th>概要</th>
        <th>プライベート作品</th>
        <th>順序</th>
        <th>メインビジュアル</th>
        <th>URL</th>
        <th>リポジトリURL</th>
        </tr>
        {% for work in works %}
        <tr>
            <th>{{work.title}}</th>
            <th>{{work.description}}</th>
            <th>{{work.private}}</th>
            <th>{{work.sort}}</th>
            <th><img src="{% if work.image %}{{work.image.url}}{% endif %}"/></th>
            <th>{{work.url}}</th>
            <th>{{work.repository_url}}</th>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No works are available.</p>
{% endif %}

<p>Private Works</p>
{% if private_works %}
    <table>
        <tr>
        <th>タイトル</th>
        <th>概要</th>
        <th>プライベート作品</th>
        <th>順序</th>
        <th>メインビジュアル</th>
        <th>URL</th>
        <th>リポジトリURL</th>
        </tr>
        {% for work in private_works %}
        <tr>
            <th>{{work.title}}</th>
            <th>{{work.description}}</th>
            <th>{{work.private}}</th>
            <th>{{work.sort}}</th>
            <th><img src="{% if work.image %}{{work.image.url}}{% endif %}"/></th>
            <th>{{work.url}}</th>
            <th>{{work.repository_url}}</th>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No private works are available.</p>
{% endif %}