{% extends "portfolio/base.html" %}

{% block article %}
{% if works %}
    {% for work in works %}
    <a class="card" href="{% url 'portfolio:work' work.id %}">
        <img src="{% if work.image %}{{work.image.url}}{% endif %}" alt="Main Visual" onerror="this.src='{{NO_IMAGE}}';" />
        <h1>{{work.title}}</h1>
        <p>概要: {{work.description}}</p>
        <div class="skill language">
            {% for detail in work.details|slice:":3" %}
                <p>{{detail.Language_Skill.name}}</p>
            {% endfor %}
        </div>
    </a>
    {% endfor %}
{% else %}
    <p>No works are available.</p>
{% endif %}
{% endblock article %}
