{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{profile.title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
    </head>

    <body>
        <!----- ヘッダー ----->
        <header>
            <p class="dummy"></p>
            <h1>{{profile.title}}</h1>
            <ul class="navi">
              <li><a href="">Works</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
            </ul>
        </header>
        <!----- ヘッダー END ----->
        
        <!----- メインコンテンツ ----->
        <article>
            {% if works %}
                {% for work in works %}
                <a class="work" href="">
                    <h1>{{work.title}}</h1>
                    <img src="{% if work.image %}{{work.image.url}}{% endif %}" alt="Main visual"/>
                    <p>概要:{{work.description}}</p>
                    <div class="language">
                        {% for detail in work.details|slice:":3" %}
                            <p>{{detail.Language_Skill.name}}</p>
                        {% endfor %}
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <p>No works are available.</p>
            {% endif %}
        </article>
        <!----- メインコンテンツ END ----->

        <!----- フッター ----->
        <!-- <footer>フッター</footer> -->
        <!----- フッター END ----->
    </body>
</html>