{% extends "portfolio/base.html" %}

{% load paginator_tags %}

{% block article %}
{% if works %}
    {% for work in works %}
    <a class="card" href="{% url 'portfolio:work' work.id %}">
        <img src="{% if work.image %}{{work.image.url}}{% endif %}" alt="Main visual"/>
        <h1>{{work.title}}</h1>
        <p>概要: {{work.description}}</p>
        <div class="skill language">
            {% for detail in work.lang_details%}
                <p>{{detail.Language_Skill.name}}</p>
            {% endfor %}
        </div>
        <div class="skill library">
            {% for detail in work.lib_details%}
                <p>{{detail.Library_Skill.name}}</p>
            {% endfor %}
        </div>
        <div class="skill devops">
            {% for detail in work.dev_details%}
                <p>{{detail.DevOps_Skill.name}}</p>
            {% endfor %}
        </div>
    </a>
    {% endfor %}
{% else %}
    <p>No works are available.</p>
{% endif %}
{% endblock article %}

<!-- ページネーション -->
{% block pagenator %}
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
{% endif %}

{% get_proper_elided_page_range page_obj.paginator page_obj.number as page_range %}
{% for i in page_range %}
    {% if page_obj.number == i %}
        <span>{{ i }}</span>
    {% else %}
        {% if i == page_obj.paginator.ELLIPSIS %}
            <span>{{ page_obj.paginator.ELLIPSIS }}</span>
        {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endif %}
{% endfor %}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
{% endif %}
{% endblock pagenator %}
