html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8ff;
  font-family: "Noto Sans";
}

.no-underline-link {
  text-decoration: none;
}

.no-color-link {
  color : inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8ff;
  position: sticky;
  top: 0;
}

header::after{
   content:"";
   width: calc(100% - 30px);
   height:1px;
   background-color:#aaaaaa;
   position:absolute;
   bottom:0;
   left:15px;
}

.title {
  color: #1f1762;
  margin:  0px 40px;
}

.navi{
  display: flex;
  padding: 0;
}

.navi>li{
  position: relative;
  width: 20%;
  padding: 15px;
  margin: 0;
  list-style: none;
  text-align: center;
}

.navi li a:hover {
  text-decoration: underline;
}

.navi>li::before{
  content: "";
  display: block;
  height: 10px;
  width: 0;
  border-right: 1px solid #333;
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 0;
  margin: auto;
}

.navi>li:first-of-type::before{
  content: none;
}

article{
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(33.3% - 38px);
  margin: 15px;
  text-align: center;
  border: 2px solid #333;
  text-decoration: none;
  color: #1f1762;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: -3px 5px 5px 0px #333;
}

.one-card {
  width: calc(50% - 38px);
}

.card:hover {
  background-color:#87cefa;
  box-shadow: -5px 7px 5px 0px #333;
}

.one-card:hover {
  background: #ffffff;
  box-shadow: -3px 5px 5px 0px #333;
}

.card>img {
  width: calc(50% - 10px);
}

.card>h1 {
  margin: 10px;
  border-top: 1px solid #aaaaaa;
  padding-top: 10px;
}

.card>p {
  width: calc(100% - 20px);
  text-align: left;
  color: #1f1762ff;
  margin: 15px;
  word-wrap: break-word;
}

.skill{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.skill>p{
  margin: 10px;
  width: calc(33.3% - 38px);
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.language>p{
  background-color: #e13239;
  color: #f8f8ff;
}

.library>p{
  background-color: #e0dd22;
  color: #f8f8ff;
  width: calc(50% - 38px);
}

.devops>p{
  background-color: #0b92e0;
  color: #f8f8ff;
}

pagenator{
  display: flex;
  justify-content: center;
  align-items: center;
}

pagenator > a{
  margin: 5px;
}

pagenator > span{
  margin: 5px;
}

.left-panel {
  width: calc(33.3% - 30px);
  margin: 15px;
}

.profile-images > .face_photo{
  width: calc(80%);
  text-align: center;
  padding: 30px 0px;
}

.sns-panel{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 30px;
}

.sns{
  width: 40px;
  margin: 5%;
  text-align: center;
  text-decoration: none;
  color: #1f1762;
}

.sns > img{
  width: calc(100%);
}

.right-panel {
  width: calc(66.6% - 30px);
  margin: 15px;
	word-break: break-all ;
}

.profile{
  padding: 10px 30px;
  margin: 20px 20px 0px 0px;
}

.profile > .name{
  color: #1f1762;
  font-size: 32px;
  font-weight: bold
}

.profile > .job{
  margin: 0px 0px 20px 0px;
  color: #1f1762;
}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #333;
  margin: 10px 10px;
}

.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

#introduction:checked ~ #introduction_content,
#skills:checked ~ #skills_content,
#timeline:checked ~ #timeline_content{
  display: block;
}

.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #ffffff;
}

.acknowledgment{
  word-break: break-all ;
  color: #241B75;
  margin: 0px 15px;
}
