html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8ff;
  font-family: "Noto Sans";
}

.no-underline-link {
  text-decoration: none;
}

.no-color-link {
  color : inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #f8f8ff;
  position: sticky;
  top: 0;
}

header::after{
   content:"";
   display:block;
   width: calc(100% - 30px);
   height:1px;
   background-color:#aaaaaa;
   position:absolute;
   bottom:0;
   left:15px;
}

.title {
  color: #1f1762;
  margin:  0px 40px;
}

.navi{
  display: flex;
  padding: 0;
}

.navi>li{
  position: relative;
  width: 20%;
  padding: 10px;
  margin: 0;
  list-style: none;
  text-align: center;
}

.navi li a:hover {
  text-decoration: underline;
}

.navi>li::before{
  content: "";
  display: block;
  height: 10px;
  width: 0;
  border-right: 1px solid #333;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.navi>li:first-of-type::before{
  content: none;
}

article{
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(33.3% - 38px);
  margin: 15px;
  text-align: center;
  border: 2px solid #333;
  text-decoration: none;
  color: #1f1762;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: -3px 5px 5px 0px #333;
}

.card:hover {
  background-color:#87cefa;
  box-shadow: -5px 7px 5px 0px #333;
}

.card>img {
  width: calc(50% - 10px);
}

.card>h1 {
  margin: 10px;
  border-top: 1px solid #aaaaaa;
  padding-top: 10px;
}

.card>p {
  width: calc(100% - 20px);
  text-align: left;
  color: #1f1762;
  margin: 15px;
  word-wrap: break-word;
}

.card>.language{
  display: flex;
  align-items: center;
}

.card>.language>p{
  margin: 10px;
  width: calc(33.3% - 10px);
  background-color: #e13239;
  border-radius: 30px;
  color: #f8f8ff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}