{% load static %}
{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% with NO_IMAGE="/media/NoImage.png" %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}{{profile.title}}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Noto+Sans">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <header>
            <a class="no-underline-link no-color-link title-box" href="{% url 'portfolio:index' %}">
                <div class="title">{{profile.title}}</div>
                <div class="subtitle">{{profile.subtitle}}</div>
            </a>
            <div class="navi">
                <a class="no-underline-link navi-item" href="{% url 'portfolio:index' %}">Home</a><div>|</div>
                <a class="no-underline-link navi-item" href="{% url 'portfolio:works' %}">Works</a><div>|</div>
                <a class="no-underline-link navi-item" href="{% url 'portfolio:about' %}">About</a><div>|</div>
                <a class="no-underline-link navi-item" href="{% url 'portfolio:contact' %}">Contact</a>
            </div>
        </header>
        <article>
            {% block article %}{% endblock %}
        </article>
        <pagenator>
            {% block pagenator %}{% endblock %}
        </pagenator>
        {% block extra_js %}{% endblock %}
    </body>

    <footer></footer>
</html>
{% endwith %}