{% extends "portfolio/base.html" %}

{% block article %}
    <form action="" method="post" class="contact-form">
        {% csrf_token %}
        <p class="contact">Contact</p>
        <div class="contact-item">
            <label for="id_name">氏名:</label>
            <input type="text" name="name" required id="id_name">
        </div>
        <div class="contact-item">
            <label for="id_email">Email:</label>
            <input type="email" name="email" required id="id_email">
        </div>
        <div class="contact-item">
            <label for="id_subject">件名:</label>
            <input type="text" name="subject" required id="id_subject">
        </div>
        <div class="contact-item">
            <label for="id_message">本文:</label>
            <textarea name="message" required id="id_message"></textarea>
            <input class="submit" type="submit" value="送信">
        </div>
        {% if error_message %}
        <p>Error:{{error_message}}</p>
        {% endif %}
    </form>
{% endblock article %}
