{% extends "portfolio/base.html" %}

{% block article %}
<div class="one-card-container">
    <dev class="card one-card">
        <img src="{% if work.image %}{{work.image.url}}{% endif %}" alt="Main Visual" onerror="this.src='{{NO_IMAGE}}';" />
        <h1>{{work.title}}</h1>
        <p>概要:<br>{{work.description}}</p>
        <div class = "work-details">
            {% for detail in work.details%}
                <div class = "work-detail">
                    <p>{{detail.sub_titile}}</p>
                    <p>{{detail.start_date}} - {% if detail.end_date %}{{detail.end_date}}{% else %}現在進行中{% endif %}</p>
                    <p>{{detail.processes}}</p>
                    <p>{{detail.detail_description | linebreaksbr}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="skill language">
            {% for detail in work.lang_details%}
                <p>{{detail.language_skill.name}}</p>
            {% endfor %}
        </div>
        <div class="skill library">
            {% for detail in work.lib_details%}
                <p>{{detail.library_skill.name}}</p>
            {% endfor %}
        </div>
        <div class="skill devops">
            {% for detail in work.dev_details%}
                <p>{{detail.dev_ops_skill.name}}</p>
            {% endfor %}
        </div>
    </dev>
</div>
{% endblock article %}
