html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* 一般的に10px */
  background-color: #FCFCFC;
  font-family: "Noto Sans";
}

.no-underline-link {
  text-decoration: none;
}

.no-color-link {
  color : inherit;
}

body {
  display: grid;
  grid-template-rows: 1fr 98fr 1fr;
  grid-auto-columns: minmax(33vmax, auto);
}

header {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-auto-rows: minmax(100%, auto);
  background-color: #FCFCFC;
  position: sticky;
  top: 0;
  z-index: 1;
}

.title-box{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: start;
  align-content: center;
  column-gap: 2rem;
  padding: 0 2rem;
  align-items: center;
}

.title {
  color: #004099;
  font-size: 1.6rem;
  text-align: center;
}

.subtitle {
  color: #004099;
  font-size: 1.0rem;
}

.navi{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100%, auto);
  padding: 0;
  align-items: center;
  text-align: center;
}

.navi-item{
  color: #004099;
  font-size: 1.0rem;
}

header::after{
  content:"";
  width: calc(100% - 30px);
  height:1px;
  background-color:#A3AEB5;
  position:absolute;
  bottom:0;
  left:15px;
}

article{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-content: start;
  column-gap: 2rem;
  row-gap: 2rem;
  padding-top: 2rem;
}

.card {
  width: 30vmax;
  max-width: 33vmax;
  text-align: center;
  border: 2px solid #333;
  text-decoration: none;
  color: #303030;
  background: #FAFAFA;
  border-radius: 15px;
  box-shadow: -3px 5px 5px 0px #303336;
}

.card::before,
.card::after {
    position:absolute;
    display:block;
    box-sizing:border-box;
    width:0;
    height:0;
    content:"";
    opacity:0;
    transition:width 0.3s, height 0.3s, opacity 0.3s;
    border-radius: 15px;
}

.card::before {
    top:0;
    left:0;
    border-top:5px solid #333;
    border-left:5px solid #333;
}

.card::after {
    right:0;
    bottom:0;
    border-right:5px solid #333;
    border-bottom:5px solid #333;
}

.card>img {
  padding: 10px 0px;
  width: calc(50% - 10px);
}

.card>h1 {
  margin: 10px;
  border-top: 1px solid #A3AEB5;
  padding-top: 10px;
  font-size: 1.8rem;
}

.card>p {
  font-size: 1.2rem;
  width: calc(100% - 20px);
  text-align: left;
  color: #000000;
  margin: 15px;
  word-wrap: break-word;
}

.one-card-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: calc(100%);
  max-width: 80vmax;
  padding: 0 2rem;
}

.one-card {
  width: calc(100%);
  max-width: 80vmax;
}

.one-card>img {
  width: calc(50% - 10px);
}

.work-details {
  font-size: 1.2rem;
  margin: 0 auto;
  border-top: 1px solid #A3AEB5;
  border-bottom: 1px solid #A3AEB5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 30px);
}

.work-detail {
  width: calc(100%);
  text-align: left;
  text-decoration: none;
  color: #303030;
  background: #FAFAFA;
  margin: 1rem;
  padding: 0 1rem;
}

.skill{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.skill>p{
  margin: 10px;
  padding: 10px;
  width: 120px;
  border-radius: 30px;
  text-align: center;
}

.language>p{
  background-color: #BD1D11;
  color: #FAFAFA;
}

.library>p{
  background-color: #005DC2;
  color: #FAFAFA;
}

.devops>p{
  background-color: #8C9919;
  color: #FAFAFA;
}

pagenator{
  display: flex;
  justify-content: center;
  align-items: center;
}

pagenator > a{
  margin: 5px;
}

pagenator > span{
  margin: 5px;
}

.left-panel {
  width: 30vmax;
}

.profile-images > .face_photo{
  width: calc(80%);
  text-align: center;
  padding: 30px 0px;
}

.sns-panel{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 30px;
}

.sns{
  width: 40px;
  margin: 5%;
  text-align: center;
  text-decoration: none;
  color: #004099;
}

.sns > img{
  width: calc(100%);
}

.right-panel {
  width: 70vmax;
  word-break: break-all ;
}

.profile{
  padding: 10px 30px;
  margin: 20px 20px 0px 0px;
  text-align: center;
}

.profile > .name{
  color: #303030;
  font-size: 2.0rem;
  font-weight: bold
}

.profile > .job{
  font-size: 1.2rem;
  margin: 0px 0px 20px 0px;
  color: #000000;
}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #FAFAFA;
  box-shadow: 0 0 10px #303336;
  margin: 10px 10px;
}

.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #303336;
  background-color: #FAFAFA;
  line-height: 50px;
  font-size: 1.6rem;
  text-align: center;
  color: #004099;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  overflow: hidden;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
  font-size: 1.2rem;
}

#introduction:checked ~ #introduction_content,
#skills:checked ~ #skills_content/* ,
#timeline:checked ~ #timeline_content */{
  display: block;
}

.tabs input:checked + .tab_item {
  background-color: #303336;
  color: #FAFAFA;
}

.acknowledgment{
  word-break: break-all ;
  color: #000000;
  margin: 0px 15px;
  font-size: 1.2rem;
}

.legend{
  color: #303336;
  font-size: 1.2rem;
}

.introduction{
  color: #000000;
}

.gender{
  color: #000000;
}

.birthday{
  color: #000000;
}

.phone{
  color: #000000;
}

.address{
  color: #000000;
}

.introduction{
  color: #000000;
}

.contact {
  width: calc(70%);
  font-size: 1.6rem;
  margin-bottom: -5px;
  color: #303030;
}

.contact-form {
  width: calc(100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  font-size: 1.2rem;
  width: calc(70%);
  text-align: left;
  color: #000000;
  background: #FAFAFA;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 10px;
}

.contact-item > input[type="text"] {
  width: calc(100%);
}

.contact-item > input[type="email"] {
  width: calc(100%);
}

.contact-item > textarea {
  width: calc(100%);
  height: 300px;
  resize: vertical;
}

.submit{
  font-size: 1.2rem;
  margin-top: 10px;
  width: calc(100%);
  height: calc(15%);
}

.success-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100%);
  margin-top: 15px;
}

.success {
  text-align: center;
  width: calc(50%);
  color: #000000;
  background: #FAFAFA;
}

.maintenance-container{
  text-align: center;
  width: calc(100%);
  color: #000000;
  background: #FAFAFA;
}
